body{
    background-color: #F6FB7A;
}

h1,h3{
    color: #914F1E;
    text-align: center;
    
}

footer{
    color:black;
    text-align: right;
    margin-right: 40px;
}

.container{
    display: flex;
    height: 70vh;
    gap: 30px;
    justify-content: center;
    align-items: center;    

}
