body{
    background-color: #F6FB7A;
}

h1 h3{
    color: #914F1E;
}

footer{
    color:white;
}

.container{
    display: flex;
    flex-basis: 10px;
    justify-content: center;
    align-items: center;    
}
